<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{album.name}}">
    <ion-content ng-init="vm.loadAlbumImages()">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="vm.loadAlbumImages()">
        </ion-refresher>

        <ion-gallery ion-gallery-items="vm.items" ion-gallery-row="2"></ion-gallery>

    </ion-content>
</ion-view>
