<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Bilder automatisch synchronisieren
    </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
