<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="Übersicht" icon-off="ion-image" icon-on="ion-image" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <!-- Albumbs Tab -->
    <ion-tab title="Alben" icon-off="ion-images" icon-on="ion-images" href="#/tab/albums">
        <ion-nav-view name="tab-albums"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Einstellungen" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

</ion-tabs>
