<ion-view view-title="Alben">
    <ion-content ng-init="vm.loadAlbums()">
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="album in vm.albums"
                      type="item-text-wrap" href="#/tab/albums/{{album.id}}">

                <img ng-src="{{album.face}}">

                <h2>{{album.name}}</h2>

                <p>{{album.lastText}}</p>

                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="remove(album)">
                    Delete
                </ion-option-button>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
