/* Empty. Add your own CSS if you like */

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 150px;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.transparent {
    background: rgba(0,0,0,0.7);
}

.slider {
    width: 100%;
    height: 100%;
}


.image {
    width: 100%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}


.animate-show {
    transition: all linear 0.5s;
    display: block !important;
}

.animate-show.ng-fadeout {
    opacity: 0;
}

.animate-show.ng-fadein {
    opacity: 1;
}


.slideImage {
    width: 100%;
}