<ion-view view-title="Absolute Wordpress Gallery">
    <ion-content ng-init="vm.loadImages()">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="vm.loadImages()">
        </ion-refresher>

        <div class="row" ng-repeat="image in vm.slides" ng-if="$index % 3 === 0">
            <div class="col col-33" ng-if="$index < vm.slides.length">
                <img class="animate-show" fade-in ng-src="{{vm.slides[$index].thumbnail_src}}" width="100%" ng-click="vm.showImages($index)" />
            </div>
            <div class="col col-33" ng-if="$index + 1 < vm.slides.length">
                <img class="animate-show" fade-in ng-src="{{vm.slides[$index + 1].thumbnail_src}}" width="100%" ng-click="vm.showImages($index + 1)"/>
            </div>
            <div class="col col-33" ng-if="$index + 2 < vm.slides.length">
                <img class="animate-show" fade-in ng-src="{{vm.slides[$index + 2].thumbnail_src}}" width="100%" ng-click="vm.showImages($index + 2)"/>
            </div>
        </div>

        <!--<ion-gallery ion-gallery-items="vm.slides" ion-gallery-row="2"></ion-gallery>-->

    </ion-content>
</ion-view>
