<div class="modal image-modal transparent" on-swipe-down="vm.closeModal()">
    <ion-slide-box on-slide-changed="vm.slideChanged(index)" active-slide="vm.activeSlide">
        <ion-slide ng-repeat="image in vm.slides">

            <ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false"
                        zooming="true" min-zoom="{{vm.zoomMin}}" ng-if="vm.mustBeVisible($index)" style="width: 100%; height: 100%"
                        delegate-handle="scrollHandle{{$index}}" on-scroll="vm.updateSlideStatus(vm.activeSlide)" on-release="vm.updateSlideStatus(vm.activeSlide)" overflow-scroll="false">

                <div class="image" ng-style="{'background-image':'url({{image.full_src}})'}" id="full{{$index}}"></div>
                <!--<div class="image" img-cache ic-bg="{{image.full_src}}" ></div>-->
                <!--<img class="slideImage" ng-src="{{image.full_src}}" />-->
                <!--<img class="slideImage" ng-src="{{image.full_src}}"/>-->

                <div class="share" style="position: absolute; top: 0; right: 0"><button ng-click="vm.shareImage(full{{$index}}.src)">Share Image</button></div>

            </ion-scroll>

        </ion-slide>

    </ion-slide-box>

</div>
